html{
  scroll-behavior: smooth;
}

body {
    background: rgba(238, 237, 237, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: url('bg.jpg');
  }
  
  .showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-color: rgba(20, 10, 10, 0.178);
    background-image: url(kafa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transition: all 1s;
  }
  
  .content {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 56%;
    margin-top: 105px;
    margin-left: -145px;
    width: 500px;
    height: 350px;
    text-align: right;
    transition: all 1000ms;
  }

  .content h1{
      text-transform: uppercase;
      margin-bottom: 0;
  }
  /* Navigation */
  .nav-container {
    width: 80%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 95%;
    padding: 0 40px;
    background: rgba(20, 10, 10, 0.55);
    z-index: 10;
  }

  .nav-container img {
    width: 3rem;
  }

  .nav-container::after {
    content: "";
    display: table;
    clear: both;
  }

  .logo-nav {
    float: left;
    padding:  10px 60px;
  }

  nav {
    float: right;
    padding-right: 60px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-left: 4rem;
    padding-top: 1.6rem;

    position: relative;
  }

  nav a {
    color: #f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
  }

  nav a:hover {
    color: #a58072;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #a58072;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out .25s;
  }

  nav a:hover::before {
    width: 100%;
  }

  .sticky {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 95%;
    padding: 0 40px;
    background: rgba(20, 10, 10, 0.55);
    z-index: 10;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  /* hero */

  h3{
      color: #333;
      text-transform: uppercase;
  }

  .services p {
      color: #795548;
  }
  
  .content .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .content .button {
    padding: 1em;
    background: #795548;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 3rem;
    text-decoration: none;
  }

  .content .button:hover {
    background: #5f463d;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  .container {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }
  
  .grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-2 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-2 img{
    width: 100%;
  }

  .grid-3 .phone {
    color: #69544d;
    text-align: right;
    margin-top: 1rem;
    background: url()
  }

  .price_desc {
    border: solid 4px #5f463d;
    background: #5f463d;
    border-radius: 0px 0px 3px 3px;
    margin-top: -4px;
}

  .about-img{
    box-shadow: 0px 56px 36px -60px #121D12;
  }

  .price_desc .price {
      font-size: .8rem;
      color: #5f463d;
      float: left;
      background: #FFF;
      line-height: 40px;
      width: 40px;
      text-align: center;
      margin: 10px 18px 10px 10px ;
      border-radius: 2em;
  }
  .price_desc h4 {
    display: block;
    font-size: 1rem;
    color: #F9F9F9;
    text-transform: uppercase;
  }

  .about-us{
    padding: 2rem;
    margin: 3rem 0;
  }
  .about-us h3 span {
    color: #82592D;
    font-size: 2em;
  }

  .about-us p span{
    font-size: .7rem;
  }
  
  .center {
    text-align: center;
    margin: auto;
  }
  
  .bg-light {
    color: #795548;
  }
  
  .bg-dark {
    background: #333;
    color: #f4f4f4;
  }

  /* Services */
  .services{
    padding: 2rem;
    margin: 3rem 0;
  }

  .services h2{
    text-align: center;
    text-transform: uppercase;
    color: #82592D;
    font-size: 2rem;
  }

  .service .img-service{
    width: 50px;
  }

  .service {
    background: rgba(249, 249, 249, 0.3);
    padding: 2rem;
    box-shadow: 0px 56px 36px -60px #121D12;
    -moz-box-shadow: 0px 56px 36px -60px #121D12;
    -o-box-shadow: 0px 56px 36px -60px #121D12;
  }

  /* contact form */

  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit] {
    background-color: #795548;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #82592D;
}

.container-form .container {
    width: 50%;
    box-shadow: rgb(18, 29, 18) 0px 56px 36px -60px;
    background: rgba(249, 249, 249, 0.3);
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.container-form .container h2{
    text-align: center;
    text-transform: uppercase;
    color: #82592D;
    font-size: 2rem;
}

.container-form .container label{
    text-align: center;
    text-transform: uppercase;
    color: #82592D;
    font-size: 1rem;
}


  /* footer */
  
  footer {
    padding: 1rem;
  }
  
  footer p {
    margin: 0;
    font-size: .7rem;
    text-transform: uppercase;
  }

  footer img {
      width: 15px;
  }
  
  /* Small Screens */
  @media (max-width: 600px) {
    .nav-container img{
        display: none;
  }

    nav ul li{
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        font-size: .5rem;
        padding: .7rem .5rem;
    }
    .showcase::after {
      height: 60vh;
      overflow: hidden;
    }
  
    .content {
      top: 10%;
      left: 40%;
      background: none;
    }
  
    .nav-container {
        width: 100%;
    }

    .content h1 {
        text-align: center;
        margin: 0 auto;
        font-size: 2rem;
    }
  
    .content .button {
      display: none;
    }
  
    .grid-3,
    .grid-2,
    .container-form {
      grid-template-columns: 1fr;
      margin-bottom: 1rem;
    }

    .services{
      background: none;
    }

    .about,
    .services p{
      font-size: .8rem;
    }
    .container-form .container {
      width: 80%;
      background: none;
    }
    .services div {
      padding: 1rem 0;
    }
  } 

  /* hr */
  hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
    margin: 25px;
  }
